/*Style of the body*/
body {
  background-image: image(./images/wildfire.jpg);
  font-family: 'Times New Roman', serif;



}
/*Style of h1*/
h1 {
  font-family: 'Times New Roman', serif;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 1em;
  text-align: center;
  color:#000000 ;
  letter-spacing: normal;

}
/*Style of h2*/
h2 {
  font-family: 'Times New Roman', serif;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 1em;
  text-align: center;
  color:#000000 ;
  letter-spacing: normal;

}
/*Style of main*/
main {
  font-family: 'Times New Roman', serif;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 1em;
  text-align: center;
  color:#000000 ;
  letter-spacing: normal;
  border-radius: 15px;
  border-style: ridge;
  border-color: #003e19 ;
  border-width: medium;

}

/*Style of center*/
center{
  background-color: #003e19;
  border-radius: 15px;
  border-style: ridge;
  border-width: medium;


}

/*Footer*/
footer {
  background-color: #008e49 ;
  border-radius: 15px;
  border-style: ridge;
  border-color: #003e19 ;
  border-width: medium;

}
